@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: #333435;
}

.source {
}

.comment {
  font-style: italic;
  color: #AD2EA4;
}

.keyword, .storage {
  color: #FC6F09;
}

.entity.name.function, .keyword.other.name-of-parameter.objc {
}

.entity.name {
}

.entity.other.inherited-class {
  color: #FC83FF;
}

.constant.numeric {
  color: #58C554;
}

.variable.language, .variable.other {
}

.constant {
  color: #1EDAFB;
}

.variable.other.constant {
}

.constant.language {
  color: #FDC251;
}

.string {
  color: #8DFF0A;
}

.support.function {
}

.support.type {
  color: #1EDAFB;
}

.support.constant {
  color: #8DFF0A;
}

.meta.tag, .declaration.tag, .entity.name.tag {
  color: #FC6F09;
}

.entity.other.attribute-name {
  color: #FFFF89;
}

.invalid {
  color: #FFFFFF;
  background-color: #990000;
}

.constant.character.escaped, .constant.character.escape, .string .source, .string .source.ruby {
  color: #519F50;
}

.markup.inserted {
  color: #E6E1DC;
  background-color: #144212;
}

.markup.deleted {
  color: #E6E1DC;
  background-color: #660000;
}

.meta.diff.header, .meta.separator.diff, .meta.diff.index, .meta.diff.range {
  background-color: #2F33AB;
}
